@{
    ViewBag.Title = "Wolff Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    45 N Court Street<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    412-737-7240
</address>

<address>
    <strong>Contact Me:</strong>   <a href="mailto:nw233215@ohio.edu">nw233215@ohio.edu</a><br />
    
</address>