@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>MIS 4200</h2>
    <p class="lead"></p>
    <p>This is a sample site for MIS4200</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The Class</h2>
        <p>
           This class is an intro to MVC development using scrum.
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>MAjor</h2>
        <p>Management Information Systems</p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Where i am from</h2>
        <p>I am From pittsburgh pennsylvania</p>
        <p></p>
    </div>
</div>